.countdown-container {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 0 .75rem;
}
.countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
 .title {
  font-weight: normal;
  font-size: 4rem;
  padding-top: 4rem;
}
.countdown p {
  font-weight: bold;
  font-size: 6rem;
}
.countdown span {
  font-size: 1.25rem;
}
@media (max-width: 650px) {
  .title {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 4rem;
  }
  .countdown span {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 1.5rem;
  }
  .countdown p {
    font-size: 2rem;
  }
}
