@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}
.countdown-container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px) 1fr
}
.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2;
  text-align: center;
}
.title {
  font-weight: normal;
  font-size: 4rem;
  grid-column: 1/-1;
}
.countdown span {
  font-weight: bold;
  font-size: 6rem;
}
.countdown p {
  font-size: 1.25rem;
}
@media (max-width: 650px) {
  .title {
    font-size: 3rem;
  }
  .countdown span {
    font-size: 4.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 2rem;
  }
  .countdown span {
    font-size: 2.5rem;
  }
}
